<mat-card>
    <mat-card-title class="title">Create Category</mat-card-title>
    <form [formGroup]="momentForm" #formDir="ngForm">
        <mat-form-field class="input">
            <input matInput placeholder="Category Name"
            [(ngModel)]="category.category_name" name="category_name" formControlName="category_name" required>
        </mat-form-field>
    </form>
    <div class="buttons">
        <button mat-raised-button (click)="createCategory()" color="primary"> Create </button>
        <button mat-raised-button (click)="cancel()" class="cancel"> Cancel </button>
    </div>
</mat-card>